<!-- Video Player -->
<div id="video-player">
  <video id="video-el" autoplay></video>

  <!-- Player Overlay -->
  <div class="player-overlay" id="player-overlay">
    <!-- Info Row -->
    <div class="po-info">
      <div class="po-info-left">
        <span class="po-channel-num" id="po-channel-num">5</span>
        <img class="po-channel-logo" id="po-channel-logo" src="" alt="">
        <span class="po-channel-name" id="po-channel-name">Channel Name</span>
        <span class="po-program-name" id="po-program-name"></span>
      </div>
      <div class="po-info-right">
        <div class="po-emitter">
          <span id="t-emitter">Emitter:</span>
          <span class="po-emitter-icon"><i class="fa-solid fa-globe"></i></span>
        </div>
        <span class="po-source" id="po-source">SOURCE</span>
        <span class="po-time-range" id="po-time-range">12:45 - 13:39</span>
      </div>
    </div>

    <!-- Progress Bar -->
    <div class="po-progress">
      <div class="po-progress-bar">
        <div class="po-progress-fill" id="po-progress-fill"></div>
        <span class="po-progress-time" id="po-progress-time">00:54</span>
      </div>
    </div>

    <!-- Controls -->
    <div class="po-controls">
      <div class="po-controls-center">
        <button class="po-btn" id="po-rewind"><i class="fa-solid fa-rotate-left"></i></button>
        <button class="po-btn" id="po-pause"><i class="fa-solid fa-pause"></i></button>
        <button class="po-btn" id="po-forward"><i class="fa-solid fa-rotate-right"></i></button>
      </div>
      <div class="po-controls-right">
        <div class="po-action" id="po-favorite"><i class="fa-regular fa-heart"></i> <span id="t-add-favorite">Add to Favorites</span></div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="content">


  <div class="channels-section">
    <h2 id="t-now-on-tv">Now On TV</h2>
    <div class="channels-grid" id="channels-grid">
    </div>
  </div>


</div>


<!-- Header -->
<header style="position: fixed; top: 0; left: 0; width: 100%; height: 80px; background-color: transparent; display: flex; align-items: center; padding-left: 20px; padding-right: 20px; justify-content: space-between; z-index: 10;">
  <img src="public/assets/logo.png" alt="Logo" style="height: 3vw; width: auto; margin-top: 3vw; margin-left: 2vw;">

  <div class="date-box">
    <div class="date-box-left">
      <div id="time"></div>
      <div id="date"></div>
    </div>
    <div class="date-box-divider"></div>
    <div class="date-box-right">
      <img id="weatherIcon" />
      <div class="date-box-weather">
        <div id="temperature"></div>
        <p>Belgrade</p>
      </div>
    </div>
  </div>
</header>


<!-- Scroll Menu -->
<div class="vertical-scroll" id="menu"> 
  <div class="item active" id="menu-home" tabindex="0"> <i class="fa-solid fa-house"></i><span id="t-menu-home">Home</span></div>
  <div class="item" id="menu-tv-channels" tabindex="-1"> <i class="fa-solid fa-tv"></i><span id="t-menu-tv">TV Channels</span></div>
  <div class="item" id="menu-radio" tabindex="-1"> <i class="fa-solid fa-radio"></i><span id="t-menu-radio">Radio Stations</span></div>
  <div class="item" id="menu-favorites" tabindex="-1"> <i class="fa-solid fa-heart-circle-plus"></i><span id="t-menu-favorites">Favorites</span></div>
  <div class="item" id="menu-movies" tabindex="-1"> <i class="fa-solid fa-film"></i><span id="t-menu-movies">Movies</span></div>
  <div class="item" id="menu-tv-shows" tabindex="-1"> <i class="fa-solid fa-clapperboard"></i><span id="t-menu-tv-shows">TV Shows</span></div>
  <div class="item" id="menu-news" tabindex="-1"> <i class="fa-solid fa-newspaper"></i><span id="t-menu-news">News</span></div>
  <div class="item" id="menu-search" tabindex="-1"> <i class="fa-solid fa-magnifying-glass"></i><span id="t-menu-search">Search</span></div>
  <div class="item" id="menu-video-tutorials" tabindex="-1"> <i class="fa-solid fa-video"></i><span id="t-menu-tutorials">Video Tutorials</span></div>
  <div class="item" id="menu-settings" tabindex="-1"> <i class="fa-solid fa-cog"></i><span id="t-menu-settings">Settings</span></div>
</div>

<!-- Sub Menu -->
<div class="sub-menu" id="sub-menu">
  <div class="sub-item active" id="sub-all" tabindex="0"><span class="sub-icon">///</span><span id="t-sub-all">All</span></div>
  <div class="sub-item" id="sub-favorites" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-heart-circle-plus"></i></span><span id="t-sub-favorites">Favorites</span></div>
  <div class="sub-item" id="sub-internet-tv" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-tv"></i></span><span id="t-sub-internet-tv">Internet TV</span></div>
  <div class="sub-item" id="sub-adria-telekom" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-a"></i></span><span id="t-sub-adria-telekom">Adria Telekom</span></div>
  <div class="sub-item" id="sub-music" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-music"></i></span><span id="t-sub-music">Music</span></div>
  <div class="sub-item" id="sub-reality" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-eye"></i></span><span id="t-sub-reality">Reality</span></div>
  <div class="sub-item" id="sub-vod" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-video"></i></span><span id="t-sub-vod">VOD</span></div>
  <div class="sub-item" id="sub-adult" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-lock"></i></span><span id="t-sub-adult">Adult Channels</span></div>
  <div class="sub-item" id="sub-news" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-newspaper"></i></span><span id="t-sub-news">News</span></div>
  <div class="sub-item" id="sub-general" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-globe"></i></span><span id="t-sub-general">General</span></div>
  <div class="sub-item" id="sub-documentaries" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-book"></i></span><span id="t-sub-documentaries">Documentaries</span></div>
  <div class="sub-item" id="sub-children" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-child"></i></span><span id="t-sub-children">Children</span></div>
  <div class="sub-item" id="sub-movies" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-film"></i></span><span id="t-sub-movies">Movies</span></div>
  <div class="sub-item" id="sub-sports" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-futbol"></i></span><span id="t-sub-sports">Sports</span></div>
  <div class="sub-item" id="sub-entertainment" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-theater-masks"></i></span><span id="t-sub-entertainment">Entertainment</span></div>
  <div class="sub-item" id="sub-4k-uhd" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-tv"></i></span><span id="t-sub-4k-uhd">4k/UHD</span></div>
  <div class="sub-item" id="sub-local" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-building"></i></span><span id="t-sub-local">Local Channels</span></div>
  <div class="sub-item" id="sub-international-fta" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-globe"></i></span><span id="t-sub-international-fta">International FTA</span></div>
  <div class="sub-item" id="sub-camera" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-camera"></i></span><span id="t-sub-camera">Camera</span></div>
  <div class="sub-item" id="sub-youtube" tabindex="-1"><span class="sub-icon"><i class="fa-brands fa-youtube"></i></span><span id="t-sub-youtube">YouTube</span></div>
</div>

<!-- Country Sub Menu -->
<div class="country-sub-menu" id="country-sub-menu">
</div>

<!-- Radio Sub Menu -->
<div class="sub-menu" id="radio-sub-menu">
  <div class="sub-item active" id="radio-all" tabindex="0"><span class="sub-icon">///</span><span id="t-radio-all">All</span></div>
  <div class="sub-item" id="radio-favorites" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-heart-circle-plus"></i></span><span id="t-radio-favorites">Favorites</span></div>
</div>

<!-- Favorites Sub Menu -->
<div class="sub-menu" id="favorites-sub-menu">
  <div class="sub-item active" id="fav-tv-channels" tabindex="0"><span class="sub-icon"><i class="fa-solid fa-tv"></i></span><span id="t-fav-tv">TV Channels</span></div>
  <div class="sub-item" id="fav-radio-stations" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-radio"></i></span><span id="t-fav-radio">Radio Stations</span></div>
</div>

<!-- Movies Sub Menu -->
<div class="sub-menu" id="movies-sub-menu">
</div>

<!-- Video Tutorials Sub Menu -->
<div class="sub-menu" id="tutorial-sub-menu">
</div>

<!-- Video Tutorial List -->
<div class="channel-list" id="tutorial-list">
</div>

<!-- Settings Sub Menu -->
<div class="sub-menu" id="settings-sub-menu">
  <div class="sub-item active" id="settings-account" tabindex="0"><span class="sub-icon"><i class="fa-solid fa-user"></i></span><span id="t-settings-account">Account</span></div>
  <div class="sub-item" id="settings-parental" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-shield-halved"></i></span><span id="t-settings-parental">Parental Control</span></div>
  <div class="sub-item" id="settings-changepin" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-key"></i></span><span id="t-settings-changepin">Change PIN Code</span></div>
  <div class="sub-item" id="settings-language" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-globe"></i></span><span id="t-settings-language">Language</span></div>
  <div class="sub-item" id="settings-contact" tabindex="-1"><span class="sub-icon"><i class="fa-solid fa-headset"></i></span><span id="t-settings-contact">Contact</span></div>
</div>

<!-- Account Info Panel -->
<div class="account-panel" id="account-panel">
  <div class="account-panel-title"><i class="fa-solid fa-circle-user"></i> <span id="t-account-title">Account Info</span></div>
  <div class="account-rows" id="account-rows"></div>
</div>

<!-- Parental Control Panel -->
<div class="parental-panel" id="parental-panel">
  <div class="parental-panel-title"><i class="fa-solid fa-shield-halved"></i> <span id="t-parental-title">Parental Control</span></div>
  <div class="parental-rows-wrapper">
    <div class="parental-rows" id="parental-rows"></div>
  </div>
</div>

<!-- Contact Panel -->
<div class="contact-panel" id="contact-panel">
  <div class="contact-panel-title"><i class="fa-solid fa-headset"></i> <span id="t-contact-title">Contact</span></div>
  <div class="contact-panel-text" id="contact-panel-text">If you have any questions, or need help with using Adria Telekom, feel free to reach out us and we'll get back to you as soon as possible.</div>
  <div class="contact-rows" id="contact-rows"></div>
</div>

<!-- Language Panel -->
<div class="language-panel" id="language-panel">
  <div class="language-panel-title"><i class="fa-solid fa-globe"></i> <span id="t-language-title">Choose Language</span></div>
  <div class="language-rows-wrapper">
    <div class="language-rows" id="language-rows"></div>
  </div>
</div>

<!-- Search Section -->
<div class="search-section" id="search-section">
  <div class="search-input-bar">
    <div class="search-input-box" id="search-input-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="search-text placeholder" id="search-text" data-t-id="t-search-placeholder">Search TV channels...</span>
      <span class="search-cursor"></span>
    </div>
  </div>
  <div class="search-results-container">
    <div class="search-results-list" id="search-results-list"></div>
  </div>
</div>

<!-- News Section -->
<div class="news-section" id="news-section">
  <div class="news-top-bar">
    <div class="news-dropdown" id="news-country-btn">
      <span id="t-news-country">Select Country</span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="news-dropdown" id="news-filter-btn">
      <span id="t-news-filter">Select Newspaper</span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <div class="news-grid-container">
    <div class="news-grid" id="news-grid"></div>
  </div>
</div>

<!-- News Country Dropdown List -->
<div class="news-dropdown-list" id="news-country-list"></div>

<!-- News Filter Dropdown List -->
<div class="news-dropdown-list" id="news-filter-list"></div>

<!-- News Preview Overlay -->
<div class="news-preview" id="news-preview">
  <div class="news-preview-nav left" id="news-prev-btn"><i class="fa-solid fa-chevron-left"></i></div>
  <div class="news-preview-card">
    <img class="news-preview-img" id="news-preview-img" src="" onerror="this.style.display='none'">
    <div class="news-preview-body">
      <div class="news-preview-title" id="news-preview-title"></div>
      <div class="news-preview-meta">
        <span class="news-preview-date" id="news-preview-date"></span>
        <img class="news-preview-logo" id="news-preview-logo" src="">
      </div>
      <div class="news-preview-desc" id="news-preview-desc"></div>
    </div>
  </div>
  <div class="news-preview-nav right" id="news-next-btn"><i class="fa-solid fa-chevron-right"></i></div>
  <div class="news-preview-counter" id="news-preview-counter"></div>
</div>

<!-- Channel List (filtered category view) -->
<div class="channel-list" id="channel-list">
</div>

<!-- PIN Code Dialog -->
<div class="pin-dialog" id="pin-dialog">
  <div class="pin-dialog-box">
    <div class="pin-dialog-title" id="pin-title">PIN Code</div>
    <div class="pin-dialog-dots" id="pin-dots">
      <div class="pin-dot" id="pin-dot-0"></div>
      <div class="pin-dot" id="pin-dot-1"></div>
      <div class="pin-dot" id="pin-dot-2"></div>
      <div class="pin-dot" id="pin-dot-3"></div>
    </div>
    <div class="pin-dialog-error" id="pin-error"></div>
    <div class="pin-dialog-hint" id="pin-hint">Default PIN code is 0000</div>
  </div>
</div>

<!-- Radio Now Playing Panel -->
<div class="radio-panel" id="radio-panel">
  <div class="radio-panel-inner">
    <div class="radio-panel-icon">
      <i class="fa-solid fa-radio"></i>
    </div>
    <div class="radio-panel-info">
      <span class="radio-panel-label" id="t-radio-now-playing">Now Playing</span>
      <span class="radio-panel-name" id="radio-panel-name">—</span>
      <span class="radio-panel-status" id="radio-panel-status"></span>
    </div>
    <div class="radio-panel-bars paused" id="radio-panel-bars">
      <span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="radio-panel-actions">
      <button class="radio-panel-btn" id="radio-btn-stop"><i class="fa-solid fa-stop"></i> <span id="t-radio-stop">Stop</span></button>
      <button class="radio-panel-btn" id="radio-btn-fav"><i class="fa-regular fa-heart"></i> <span id="t-radio-fav">Favorite</span></button>
    </div>
  </div>
</div>