
<style>

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  background: #222;
  color: white;
  font-family: Arial;
}

.footer-left {
  display: flex;
  gap: 40px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.8vw;
  color: white;
}

.footer-right {
  display: flex;
  align-items: center;
}

</style>

<!-- Login Background -->
<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-image: url('../public/assets/background-login.png'); background-size: cover; background-repeat: no-repeat; background-position: center; z-index: -1;"></div>

<!-- Header -->
<header style="position: fixed; top: 0; left: 0; width: 100%; height: 80px; background-color: transparent; display: flex; align-items: center; padding-left: 20px; padding-right: 20px; justify-content: space-between; z-index: 10;">
  <img src="assets/logo.png" alt="Logo" style="height: 3vw; width: auto; margin-top: 3vw; margin-left: 2vw;">

  <div class="date-box">
    <div class="date-box-left">
      <div id="time"></div>
      <div id="date"></div>
    </div>
    <div class="date-box-divider"></div>
    <div class="date-box-right">
      <img id="weatherIcon" />
      <div class="date-box-weather">
        <div id="temperature"></div>
        <p>Belgrade</p>
      </div>
    </div>
  </div>
</header>


<div style="display: flex; justify-content: space-between; margin-top: 4%;">

<!-- Left Section -->
<div style="max-width: 30%; margin-left: 4%; margin-top: 16vh;">
  <div style="display: flex; align-items: center; gap: 16px;">
    <img style="height: 6.6vw; width: auto;" src="assets/icon-mobile.png" alt="Mobile Icon" >
    <h1 style="color: white; font-size: 2.4vw;" >Register with mobile phone</h1>
  </div>
  <div style="background-color: white; border: 1px solid white; display: block; width: 10vw; height: 10vw; margin: 0 auto;"></div>
  <p style="color: white; font-size: 1.8vw;">Scan the QR code to access the registration website via your mobile phone or type the url into the browser</p>
</div>

<!-- Right Section -->
<div style="max-width: 30%; margin-right: 4%; margin-top: 16vh;">
  <div style="display: flex; align-items: center; gap: 16px;">
    <img style="height: 6.6vw; width: auto;" src="assets/icon-customer.png" alt="Mobile Icon" >
    <h1 style="color: white; font-size: 2.4vw; margin-left: 4vw;" >Customer center</h1>

  </div>

  <div style="display: flex; justify-content: space-between; height: 4vw;">

      <div style="width: 4vw; border: 1px solid white;"></div>
      <p style="color: white; font-size: 1.6vw;">Austria</p>
      <p style="color: white; font-size: 1.6vw;">+43 720 022 706</p>

   </div>

   <div style="display: flex; justify-content: space-between; height: 4vw;">

      <div style="width: 4vw; border: 1px solid white;"></div>
      <p style="color: white; font-size: 1.6vw;">Austria</p>
      <p style="color: white; font-size: 1.6vw;">+43 720 022 478</p>

   </div>

   <div style="display: flex; justify-content: space-between; height: 4vw;">

      <div style="width: 4vw; border: 1px solid white;"></div>
      <p style="color: white; font-size: 1.6vw;">Germany</p>
      <p style="color: white; font-size: 1.6vw;">+49 8937040018</p>

   </div>

   <div style="display: flex; justify-content: space-between; height: 4vw;">

      <div style="width: 4vw; border: 1px solid white;"></div>
      <p style="color: white; font-size: 1.6vw;">Sweden</p>
      <p style="color: white; font-size: 1.6vw;">+46 850780146</p>

   </div>

</div>

</div>

<!-- Login Section -->
<div class="login" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; gap: 15px; align-items: center; background: transparent; padding: 40px; border-radius: 8px; z-index: 1;">
  <h1 style="color: white; font-size: 28px; margin: 0 0 20px 0; font-weight: 600;">Sign In</h1>
  <input id="username" placeholder="Phone number or Username" style="padding: 10px; width: 250px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
  <input id="password" type="password" placeholder="Password" style="padding: 10px; width: 250px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
  <button id="loginBtn" style="padding: 10px; width: 250px; background-color: hsl(268, 100%, 11%); color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; box-sizing: border-box;">Confirm</button>
</div>


<p style="position: fixed; bottom: 20px; color: white; font-size: 1.8vw; margin-bottom: 4vw; left: 50%;
transform: translateX(-50%); text-align: center; width: 80%;">If you need help creating an account, trial period or registering a user account, call the customer center</p>


<footer style="border-top: 1px solid #4e4e4e; position: fixed; bottom: 0; left: 0; width: 100%; height: 80px; background-color: transparent; display: flex; align-items: center; padding-left: 20px; padding-right: 20px; justify-content: space-between; z-index: 10;">

  <div class="footer-left">

    <div class="footer-item">
      <span>📧</span>
      <span>support@adriatelekom.com</span>
    </div>

    <div class="footer-item">
      <span>🌐</span>
      <span>adriatelekom.com</span>
    </div>

  </div>

  <div class="footer-right">
    <div class="footer-item">
      <span style="margin-right: 2vw;" >MAC address : a1:b2:c3:d4:e5</span>
    </div>
  </div>

</footer>